header.site-header
	h3.logo Kniffen

	ul.social-media
		li: a(href="https://twitter.com/kniffen" target="_blank"): i.fa.fa-twitter
		li: a(href="https://github.com/kniffen" target="_blank"): i.fa.fa-github
		li: a(href="https://www.behance.net/kniffen" target="_blank"): i.fa.fa-behance
		li: a(href="http://codepen.io/Kniffen/" target="_blank"): i.fa.fa-codepen
		li: a(href="mailto:knifftech@gmail.com?Subject=Hello" target="_top"): i.fa.fa-envelope