extends ../../../_includes/theme.jade

block vars
  - var bodyClass = ['theme', 'theme-ruffie']
  - var slug = 'ruffie'
  - var name = 'Ruffie'
  - var tagline = 'Just another WordPress theme'
  -	var demoURL = 'https://wp-themes.com/ruffie'
  -	var downloadURL = 'https://wordpress.org/themes/ruffie/'
  - var options = ['6 Color settings', 'Social Media icons', 'Breadcrumbs', 'Thumbnail visibility', '7 Widget areas']
  - var meta = {'Price': 'Free','Current version': '1.4.1','Latest update': '13 December 2016','Release date': '24 May 2016','Requirements': 'WordPress 4.5 or Newer','License': 'GNU General Public License v3'}