/*
	Author: Kniffen
	Author URI: http://kniff.xyz/
	Version: 1.4.0
	License: MIT 
*/
:root {
  font-size: 10pt;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3f3f3;
  font-family: "Open Sans", sans-serif;
}

p {
  padding-bottom: 20px;
}

p a {
  text-decoration: underline;
}

a {
  color: #191919;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

img {
  vertical-align: bottom;
}

li {
  list-style: none;
}

.page-title {
  margin: 40px 0 20px;
  text-align: center;
}

.page-title h1 {
  display: inline-block;
  font-size: 60pt;
  font-weight: 300;
}

.page-title,
.page-tagline {
  display: block;
  text-align: center;
}

@media (max-width: 640px) {
  .page-title h1 {
    font-size: 30pt;
  }
}

.site-header {
  position: relative;
  background-color: #191919;
  padding: 10px 0;
  color: #f3f3f3;
  line-height: 40px;
  min-height: 40px;
}

.site-header i {
  font-size: 20pt;
}

.site-header a {
  color: #f3f3f3;
}

.site-header .logo {
  text-transform: uppercase;
  margin-left: 10px;
  font-size: 30px;
}

.site-header .social-media {
  position: absolute;
  top: 10px;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 20px;
}

.site-header .social-media li:not(:last-child) {
  margin-right: 20px;
}

.site-header .social-media i {
  line-height: 40px;
}

@media (max-width: 640px) {
  .site-header .logo {
    text-align: center;
  }
  .site-header .social-media {
    position: relative;
    top: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

html,
.home {
  height: 100%;
}

.home {
  font-family: "Open Sans", sans-serif;
  background: #191919;
  color: #f3f3f3;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.home a {
  color: #f3f3f3;
  text-decoration: none;
}

.home a:hover {
  text-decoration: underline;
}

.home .logo {
  text-transform: uppercase;
  font-size: 80px;
  font-weight: 800;
  letter-spacing: 12px;
}

.home-container {
  margin: auto;
}

.home-social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-social a {
  display: block;
  font-size: 20pt;
  line-height: 50px;
  text-align: center;
  margin: 20px;
  width: 50px;
  height: 50px;
  border: 2px solid #f3f3f3;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.home-social a:hover {
  background-color: #f3f3f3;
  color: #191919;
}

.home-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

@media (max-width: 640px) {
  .home .logo {
    font-size: 40px;
  }
  .home-links {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin: 0;
  }
  .home-links a {
    margin: 5px 0;
  }
}

.theme-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
}

.theme-buttons a {
  display: block;
  background-color: blue;
  color: #f3f3f3;
  font-weight: bold;
  margin: 0 10px;
  width: 100px;
  padding: 6px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  text-align: center;
}

.theme-coming-soon {
  text-align: center;
  font-weight: bold;
  margin: 20px 0;
}

.theme-info {
  width: 100%;
  max-width: 960px;
  margin: 40px auto;
  position: relative;
  overflow: hidden;
}

.theme-screenshot {
  width: 100%;
}

.meta {
  position: absolute;
  background-color: white;
  padding: 10px;
  font-size: 12px;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 180px;
  right: 0px;
  opacity: .95;
  -webkit-animation: slide 1s ease-in-out;
          animation: slide 1s ease-in-out;
}

.meta li {
  line-height: 30px;
}

@-webkit-keyframes slide {
  from {
    right: -300px;
  }
  to {
    right: 0px;
  }
}

@keyframes slide {
  from {
    right: -300px;
  }
  to {
    right: 0px;
  }
}

.theme-herschel .theme-buttons a {
  background-color: #e00000;
}

.theme-herschel .meta {
  background-color: #191919;
  color: white;
}

.theme-reginald .theme-buttons a {
  background-color: #1e73be;
}

.theme-siggen .theme-buttons a {
  background-color: #191919;
}

.theme-siggen .meta {
  background-color: #191919;
  color: white;
}

.theme-ruffie .page-title h1 {
  background-color: white;
  border: 5px solid #191919;
  text-transform: uppercase;
  -webkit-border-radius: 4rem;
          border-radius: 4rem;
  padding: 0 2rem;
  font-weight: 800;
}

.theme-ruffie .theme-buttons a {
  background-color: white;
  border: 3px solid #191919;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  color: #191919;
  text-transform: uppercase;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.theme-ruffie .theme-buttons a:hover {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  text-decoration: none;
}

.theme-bidnis .page-title h1 {
  text-transform: uppercase;
  font-weight: 800;
}

.theme-bidnis .theme-buttons a {
  background-color: #ffd200;
  color: #191919;
  -webkit-border-radius: 0;
          border-radius: 0;
}

.theme-features {
  max-width: 960px;
  margin: 20px auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.theme-feature {
  width: -webkit-calc(50% - 100px);
  width: calc(50% - 100px);
  padding: 50px;
}

.theme-feature img {
  width: 100%;
  height: auto;
}

.theme-feature li {
  list-style: disc;
  margin-left: 20px;
}

.theme-feature:nth-child(2) {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
      -ms-flex-order: -1;
          order: -1;
}

@media (max-width: 960px) {
  .theme-info {
    width: 90%;
    width: -webkit-calc(100%-40px);
    width: calc(100%-40px);
  }
}

@media (max-width: 640px) {
  .theme-info {
    background-color: white;
  }
  .meta {
    position: relative;
    -webkit-animation: none;
            animation: none;
  }
  .theme-features {
    display: block;
    margin: 20px;
    padding: 0;
  }
  .theme-feature {
    width: 90%;
    padding: 0;
    margin: 20px;
  }
  .theme-feature:nth-child(even) {
    margin-bottom: 60px;
  }
}

footer {
  text-align: center;
  font-size: 8pt;
  padding: 16px 0;
}
