extends ../../../_includes/theme.jade

block vars
  - var bodyClass = ['theme', 'theme-herschel']
  - var slug = 'herschel'
  - var name = 'Herschel'
  - var tagline = 'Just another WordPress theme'
  -	var demoURL = 'https://wp-themes.com/herschel'
  -	var downloadURL = 'https://wordpress.org/themes/herschel/'
  - var options = ['Color scheme', 'Social Media icons', 'Breadcrumbs', 'Index layout', 'Thumbnail visibility', '6 Widget areas']
  - var meta = {'Price': 'Free','Current version': '1.4.2','Latest update': '17 May 2017','Release date': '8 March 2016','Requirements': 'WordPress 4.5 or Newer','License': 'GNU General Public License v3'}