extends ../../../_includes/theme.jade

block vars
  - var bodyClass = ['theme', 'theme-siggen']
  - var slug = 'siggen'
  - var name = 'Siggen'
  - var tagline = 'Just another WordPress theme'
  -	var demoURL = 'https://wp-themes.com/siggen'
  -	var downloadURL = 'https://wordpress.org/themes/siggen/'
  - var options = ['6 Color settings', 'Social Media icons', 'Sepia filter', 'Breadcrumbs', 'Custom logo', 'Thumbnail visibility', '3 Widget areas']
  - var meta = {'Price': 'Free','Current version': '1.2.3','Latest update': '6 November 2016','Release date': '9 April 2016','Requirements': 'WordPress 4.5 or Newer','License': 'GNU General Public License v3'}