---
import Layout from '../layouts/Layout.astro';
import ProjectCards from '../components/ProjectCards.astro';
---

<Layout>
  <div class="container">
    <h1>Projects</h1>
    <p>A collection of my various software projects</p>
    <br/>
    
    <ProjectCards />
  </div>  
</Layout>