extends ../_includes/head.jade

block content
	.home-container
		h1.logo Kniffen

		div.home-social
			a(href="https://twitter.com/kniffen" target="_blank"): i.fa.fa-twitter
			a(href="https://github.com/kniffen" target="_blank"): i.fa.fa-github
			a(href="https://www.behance.net/kniffen" target="_blank"): i.fa.fa-behance
			a(href="http://codepen.io/Kniffen/" target="_blank"): i.fa.fa-codepen
			a(href="mailto:knifftech@gmail.com?Subject=Hello" target="_top"): i.fa.fa-envelope
		
		div.home-links
			a(href="http://www.redbubble.com/people/kniffen?asc=u" target="_blank") Store
			a(href="https://wordpress.org/themes/author/knifftech/" target="__blank") WordPress Themes