extends ../../../_includes/theme.jade

block vars
  - var bodyClass = ['theme', 'theme-reginald']
  - var slug = 'reginald'
  - var name = 'Reginald'
  - var tagline = 'Just another WordPress theme'
  -	var demoURL = 'https://wp-themes.com/reginald'
  -	var downloadURL = 'https://wordpress.org/themes/reginald/'
  - var options = ['6 Color settings', 'Social Media icons', 'Breadcrumbs', 'Thumbnail visibility', '6 Widget areas']
  - var meta = {'Price': 'Free','Current version': '1.2.5','Latest update': '6 November 2016','Release date': '16 March 2016','Requirements': 'WordPress 4.5 or Newer','License': 'GNU General Public License v3'}