.art {
  text-align: center;
}

.gallery > * + * {
  margin-top: 1em;
}

.gallery-overlay {
  display: none;
  position: fixed;
  background-color: rgba(42, 49, 63, 0.8);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
  z-index: 10;
}

.gallery-overlay img {
  border: 0.0625em solid black;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 90%;
  max-height: 90%;
}

.js .gallery img {
  cursor: pointer;
}

@media (min-width: 48em) {
  .art {
    grid-column: 1 / 13;
    margin-bottom: 12em;
    text-align: left;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;

    * {
      margin: 0;
    }

    img {
      vertical-align: top;
      width: calc(100% / 3 - 1em);
    }

    .gallery-item {
      &__mjolnir,
      &__rottr {
        width: calc(50% - 1em);
      }
    }
  }
}