.projects {
  text-align: center;
  margin-bottom: 8em;

  > * + * {
    margin-top: 4em;
  }
}

@media (min-width: 48em) {
  .projects {
    grid-column: 2 / 12;
    text-align: left;
    
    > * + * {
      margin-top: 12em;
    }
  }
}